---
// src/layouts/BaseLayout.astro
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>The Zenith Index</title>
  </head>
  <body>
    <slot />
    <script src="/src/components/spotlight.js"></script>
    <script src="/src/components/lottie.js"></script>
  </body>
</html>